include header.pug
body
  h1= heading

  table.table.table-striped
    tr
      th(scope='col') User
      th(scope='col') Category
      th(scope='col') Subject
      th(scope='col') Assigned To
      th(scope='col') Date
    each report in reports
      tr(class= report.closed ? 'closed' : undefined)
        td= report.requestedBy
        td= report.category
        td
          div.ticket-info
            strong= report.subject
            br
            span= report.description
        td= report.assignedTo
        td= reportDate

  a.btn.btn-primary(href='/reports/add') Add
