include header.pug
main.login-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-header= ticket.subject
          .card-body
            strong Issue For:
            span= ' ' + ticket.requestedBy
            br
            strong Category:
            span= ' ' + ticket.category

            p
            p= ticket.description

            span= ' ' + ticket.timeString + ' '
            span= ticket.dateString || report.date
        each comment in ticket.comments || []
          .card
            .card-body
              p= comment
        .card
          .card-body
            h2.card-title Comment
            form(action='/reports/'+ticket.id+'/update' method='POST')
              if err
                .form-group.row.alert.alert-danger
                  strong= err
              .form-group.row
                textarea#comment.form-control(type='text' name='comments' rows="8")
              .form-group
                label(for='closed') Close Ticket:
                select#closed.form-control(name='closed')
                  option(value='update') -- Comment Type --
                  each close in closeOptions
                    option= close
              .form-group.row.justify-content-end
                  button.btn.btn-primary(type='submit')
                    | submit
