include header.pug
script(src='/js/rowlink.js')
body
  table.table.table-bordered
    tr
      th(scope='col') Ticket #
      th(scope='col') User
      th(scope='col') Category
      th(scope='col') Subject
      th(scope='col') Assigned To
      th(scope='col') Date
    each report in reports
      tr(class= report.closed ? 'closed' : undefined
      data-href='/reports/' + report.id).reports-row
        td.ticketNoRow= report.id
        td.userRow= report.requestedBy
        td.categoryRow= report.category
        td.subjectRow
          span.ticket-info
            strong= report.subject
        td.assignedRow= report.assignedTo
        td.dateRow
          span.ticket-date
            span= report.timeString
            br
            span= report.dateString

  if admin
    a.btn.btn-primary(href='/reports/add') Add
