include header

body
  div(style="padding-left:.5em;display:flex;align-items:center;justify-content:space-between")
    form.form-inline.md-form.form-sm.active-cyan-2.mt-2
      input.form-control.form-control-sm.mr-3.w-75(type='text', placeholder='Search', aria-label='Search')
    if admin
      a.btn.btn-primary(href='/tickets/add') Add

  include columnHeader
  table.table.table-bordered
    thead
      tr.tableHeader
        +columnHeader('id', 'Ticket #', true)
        +columnHeader('requestedBy', 'User', false)
        +columnHeader('category', 'Category', false)
        +columnHeader('subject', 'Subject', false)
        +columnHeader('assignedTo', 'Assigned To', false)
        +columnHeader('date', 'Date', false)
    tbody
      each ticket in tickets
        tr(class= ticket.closed ? 'closed' : undefined data-href='/tickets/' + ticket.id tabindex=0).tickets-row
          td.ticketNoRow= ticket.id
          td.userRow= ticket.requestedBy
          td.categoryRow= ticket.category
          td.subjectRow
            span.ticket-info
              strong= ticket.subject
          td.assignedRow= ticket.assignedTo
          td.dateRow
            span.ticket-date
              span= ticket.timeString
              br
              span= ticket.dateString

footer
  include footer