include header.pug
script(src='/js/closeTicket.js')
main.login-form
  .cotainer
    .row.justify-content-center
      .col-md-8
        .card
          .card-header= ticket.subject
          .card-body
            strong Issue For:
            span= ' ' + ticket.requestedBy
            br
            strong Category:
            span= ' ' + ticket.category

            p
            p= ticket.description

            span(style="float: right")= ' ' + ticket.timeString + ' ' + ticket.dateString
        each comment in comments || []
          .card
            .card-body
              h5.card-title.closed-status= comment.type !== 'update' ? 'Closed: ' + comment.type : ''
              p= comment.comment
              span= comment.owner
              span(style="float: right")= comment.dateString + ' ' + comment.timeString
        .card
          .card-body
            h2.card-title Comment
            form(action='/tickets/'+ticket.id+'/comment' method='POST')
              if err
                .form-group.row.alert.alert-danger
                  strong= err
              .form-group.row
                textarea#comment.form-control(type='text' name='comment' rows='8')
              .form-check
                input#closeTicket.form-check-input(type='checkbox' name='closeTicket')
                label.form-check-label(for='closeTicket') Close Ticket
              .form-group
                select#type.form-control(name='type' style='display:none')
                  each close in closeOptions
                    option= close
              .form-group.row.justify-content-end
                  button.btn.btn-primary(type='submit')
                    | submit
